:root { font-size:16px; }
body { font-family: 'Azeret Mono', monospace; 
}
html, body {margin:0; padding:0;} 


*, *::before, *::after { box-sizing: border-box; /* gives padding and border from inside */
}


/* ~~~~~~~~~ for flipIt DEV Only ~~~~~~~~~~~ */
/* ~~~~~~ DO NOT COPY TO PROJECT ~~~~~~~ */
body {background-color: gray;}
.button_row {
  display:flex;
}
.button.one { /* FOR DEV TESTING ONLY */
  height:150px;
  background: SteelBlue; 
  cursor:pointer; 
  
}
.button.two { /* FOR DEV TESTING ONLY */
   height:150px;
  background: darkgray; 
  cursor:pointer; 
}

.button.three { /* FOR DEV TESTING ONLY */
  height:150px;
  background: red; 
  cursor:pointer; 
}
.button.three { /* FOR DEV TESTING ONLY */
  height:150px;
  background: red; 
  cursor:pointer; 
}

.button.four { /* FOR DEV TESTING ONLY */
  height:50px;
  background: black; 
  cursor:pointer; 
}

/* FOR DEV TESTING ONLY */
/* div.button { 
  width: 100%;
  height: 100%;
} */

/* ~~~~~~~ ** END flipIt DEV ** ~~~~~~~~~~~ */




/* main background  - - - coppied from master*/
.display_board_container {
background: rgb(101,101,101);
background: linear-gradient(175deg, rgba(101,101,101,1) 0%, rgba(68,68,68,1) 5%, rgba(0,0,0,1) 100%); 
  width: 100vw;
  height: 30vh; /* was 100 on original */
  padding: 0;
  margin: 0; 
  display:flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;  /* works on the main (row=hor/col=vert) axis */
  align-items:center;   /* works on the cross (row=hor/col=vert) axis  */
  transform-origin: center center;
  
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;


-webkit-box-shadow: 2px 2px 7px -1px #5D5D5D, -2px -2px 7px -1px #000000, inset -2px -2px 6px -1px #000000, inset 2px 2px 3px -1px #5D5D5D; 
box-shadow: 2px 2px 7px -1px #5D5D5D, -2px -2px 7px -1px #000000, inset -2px -2px 6px -1px #000000, inset 2px 2px 3px -1px #5D5D5D;
}

/*. END coppied from master */




h1 {
    /* This should really be a P instead of an h1 */
  color:white;
  padding:0; 
  margin:0; 
  line-height:auto;
  font-size:7rem;   
  text-align:center;
}

.element { /* ACTUAL CHARACTER CONTAINER */
  width: 100px; 
  height: 129px;
/* preserve-3d fixed jitter after flip down, earlier */
/* now, removing it fixes the z index of the axle/hubs */
/* transform-style: preserve-3d;  */
  perspective: 300px;
  position:relative; 
/* overflow:hidden; /* solves radius corners on inner HTML items but kills 3D effect */
  border: 3px solid black;
}

.front {  /* TOP HALF OF FRONT FACING CHARACTER */
background: linear-gradient(180deg, rgba(50,50,50,1) 0%, rgba(68,68,68,1) 50%, rgba(50,50,50,1) 100%);
/* backgrounds of .element and .top both show, alternately. They should match, so this (top).element needed to be stretched  */
}
.element, .back { /* .BACK IS THE REVERSE SIDE OF .FRONT */ 
background: linear-gradient(180deg, rgba(50,50,50,1) 0%, rgba(68,68,68,1) 20%, rgba(50,50,50,1) 70%);
/* MID/END color here are at 20%/70% so it more matches the scale of the .front gradient and eliminates jitter as the front appears and dissapears */
}


.flap { /* THE WRAPPER FOR .FRONT AND .BACK */
  position:absolute;
  top: 0;
  width: 100px; 
  height: 65px;
  transform-style: preserve-3d;  
  /* transform-origin: 0% 99.5%; */
  transform-origin: 0% 100%;
}

.front, .back { 
  backface-visibility: hidden;
  position: absolute;
  overflow:hidden; 
}
.front, .back{
  /* height:61px;
  width: 90px; */
  height:67px;
  width: 94px;
}
.back {    
  transform: rotateX(-180deg);
  transform-origin: 0% 100%; /* LIFE SAVER */
  opacity: 1; /* Is this needed? */
}
   /* sticks out the bottom edge, or is OVER the pseudo element, showing anoying white in axle during transition  */
   /* PLEASE FIX ME  ! ! ! ! ! ! !   */
/* .back h1{  
  position:relative;
  top:-4.02rem; 
} */

.front h1{ 
padding-right: 1px;
}

.top{ /* TOP HALF OF back OF CHARACTER DISPLAY, BEHIND .front, static */
  display:block;
  height:67px; 
  overflow:hidden;
}
.bottom{ /* BOTTOM HALF OF CHARACTER DISPLAY, BEHIND .back when flipped down, static  */
  display:block;
  height:60px;
  overflow:hidden; 
  /* line height does NOT work as negative */
  line-height: 0px; 
}


/* ==== shadow on bottom, back of element ==== */
/*  shows on bottom as panel is flipped down   */
.shadow {
    position: absolute;
    width: 100%;
    height: 50%; /* 50 */
    box-shadow: inset 0px 56px 23px -12px rgba(0, 0, 0, 1);
    top: 50%; /* 50 */
    left: 0;
    opacity:0; /* animatede in JS */ 
}



/* ========= Center Hubs ======== */
.hub {
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  position:absolute;
  bottom: -12px; 
  height:20px;
  width: 100%;
}

h1 .hub {
  bottom: 40%; 
}
.back .hub {
  bottom: 80%; 
}
/* .hub only, ever, has 2 div children. No need for class names */
.hub > div {
  background: rgb(0,0,0);
  background: linear-gradient(178deg, rgba(0,0,0,1) 0%, rgba(68,68,68,1) 36%, rgba(0,0,0,1) 100%);
  width: .35rem;
  height: 100%;
  margin: 0px 8px;
  border-radius: 3px ;
  -webkit-box-shadow: 2px 1px 5px 2px rgba(0,0,0,0.24); 
  box-shadow: 2px 1px 5px 2px rgba(0,0,0,0.24);
}
/* ========= END Center Hubs ======== */





/* ========= Center GAP effect ======== */ 

/* top: Xpx; set for both separately, SEE BELOW */
/* .back:before, .element:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background: rgba(0, 0, 0, .7);
    box-shadow: 0 1px 2px 0 rgba(255, 255, 255, .4);
}  */
/* <-- for the front */
/* .element:before { 
    top: 50%;
}  */
/* <-- for the back */
/* .back:before {    
    top: 1px;  
}  */

/* ========= bottom STACK effect ======== */
/* .element:after {
    content: '';
    position: absolute;
    left: 0; 
    right: 0;
    bottom: 1px;
    height: 2px;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 1px 2px 0 rgba(255, 255, 255, .2);
}  */





/* ====== Shine effect as .panel flips up/down ===== *//*
     The styles applied to .front(shineFront) and 
      .back(shineBack) have been moved to the JS
      for animation timing, keyframes remain here 
/* ================== check the js ================= */

@keyframes shineFront {
  /* EXPERIMENT with this, I'm just guessing */
  0%  { background-position: 0% 70%; }
100% { background-position: top;  }
}
@-webkit-keyframes shineFront {
    0%  { background-position: 0% 70%; }
  100% { background-position: top;  }
}
@-moz-keyframes shineFront {
    0%  { background-position: 0% 70%; }
  100% { background-position: top;  }
}

@keyframes shineBack {
  10% { background-position:top  }  /* 40 */
  80% { background-position:top  } /* 70 */
  10% { background-position: bottom;  } /* 100 */
}
@-webkit-keyframes shineBack {
  10% { background-position:top  }  /* 40 */
  80% { background-position:top  } /* 70 */
  10% { background-position: bottom;  } /* 100 */
}
@-moz-keyframes shineBack {
  10% { background-position:top  }  /* 40 */
  80% { background-position:top  } /* 70 */
  10% { background-position: bottom;  } /* 100 */
}











/* ==== uncomment below to show all flaps in different colors for dev tesing */
/* 
.element { 
background-color:lightgray   
} 
.element h1{ 
  color:purple;
  background-color:rebeccapurple; 
} 
.top{
  background-color: green;
  color:orange;
}
.bottom{
  background-color: pink;
  color:white;
 
}
.front { 
background-color:orange   
} 
.front h1{ 
  color:rgb(73, 73, 148);
  background-color:darkblue; 
  border: 1px solid white;
} 
.back {  
  background-color:pink;
  border:1px solid red;
}
.back h1{ 
  background-color:brown;
  color:yellow;
}
 */












/*  ======================================  */
    /*   - - > > DO NOT TOUCH < < - -   */
/*  ======================================  */
    /*  - - >  BELOW THIS LINE  < - - */


/*  =================================== */
/*  randomized borders and backgrounds  */
/*  =================================== */
.background_0 {
  background: rgb(50,201,101);
  background: linear-gradient(170deg, rgba(101,101,101,1) 0%, rgba(68,68,68,1) 5%, rgba(30,30,30,1) 100%);
border-radius: 3px 3px 3px 3px;
}
.background_1 {
  background: rgb(201,101,101);
  background: linear-gradient(180deg, rgba(101,101,101,1) 0%, rgba(68,68,68,1) 5%, rgba(40,40,40,1) 100%);
border-radius: 3px 3px 3px 3px;
}
.background_2 {
  background: rgb(201,201,101);
  background: linear-gradient(190deg, rgba(101,101,101,1) 0%, rgba(68,68,68,1) 5%, rgba(50,50,50,1) 100%);
border-radius: 3px 3px 3px 3px;
}
.background_3 {
  background: rgb(101,101,195);
  background: linear-gradient(200deg, rgba(101,101,101,1) 0%, rgba(68,68,68,1) 5%, rgba(50,50,50,1) 100%);
border-radius: 3px 3px 3px 3px;
}

.shadows_0 { 
box-shadow: 
    1px 3px 5px 0px rgba(0,0,0,0.35) inset, -1px -1px 2px 0px rgba(0,0,0,0.58), 1px 1px 2px 0px rgba(255,255,255,0.3);
}
.shadows_1 { 
box-shadow: 
    2px 3px 5px 0px rgba(0,0,0,0.4) inset, -1px -1px 2px 0px rgba(0,0,0,0.58),
    1px 1px 2px 0px rgba(255,255,255,0.1);
}
.shadows_2 { 
box-shadow: 
    3px 2px 5px 0px rgba(0,0,0, 0.45) inset, -1px -1px 2px 0px rgba(0,0,0,0.58), 1px 1px 2px 0px rgba(255,255,255,0.3);
}
.shadows_3 { 
box-shadow: 
    4px 2px 5px 0px rgba(0,0,0,0.5) inset, -1px -1px 2px 0px rgba(0,0,0,0.58), 1px 1px 2px 0px rgba(255,255,255,0.2);
}




/* ==== TESTING TESTING TESTING  ==== */ 
/*  shows on top-inside-back as .front is flipped down   */
.top_back_shadow {
    position: absolute;
    width: 100%;
    height: 50%;
    box-shadow: inset 0px 56px 23px -12px rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    opacity:1; /* animatede in JS */ 
}






/* no longer used */
.box_shadow { box-shadow: 
     -1px -1px 2px 0px rgba(0,0,0,0.58), 1px 1px 2px 0px rgba(255,255,255,0.3);
     /* removed inset shadow as it was makign the top flap look like it was flipping IN instead of OUT*/
     /* box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.35) inset, -1px -1px 2px 0px rgba(0,0,0,0.58), 1px 1px 2px 0px rgba(255,255,255,0.3); */
}

.border_radius{
  -webkit-border-radius:5px;
  -moz-rborder-adius:5px;
  border-radius:5px;
}

/*.shiny {
  background: linear-gradient(178deg,#0000 5%,rgba(255,255,255,0.3) 50%,#0000 96%) rgba(50,50,50,1);
  background-size:100% 400%;
  animation: shine .6s 1;
}*/








/* kept just for fun review and tesing */

/*.  REALLY FUN PULSATING SHADOW!!  */
/* @keyframes shadowPulse {
    0% { box-shadow: inset 0px 56px 23px -12px rgba(0, 0, 0, 0); }
    100% { box-shadow: inset 0px 56px 23px -12px rgba(0, 0, 0, 1); }
}
.shad  ow-pulse {
    animation-name: shadowPulse;
    animation-duration: 1.5s; 
    animation-iteration-count: 1;
    animation-timing-function: linear;
} */
